<h1><%= current_user.role? %> Dashboard</h1>

<p class="navbar-text float-right">
<% if user_signed_in? %>
  Hello <strong><%= current_user.role? %></strong><br>
  Logged in as <strong><%= current_user.email %></strong>.<br>
  <table>
    <tr>
      <td><%= button_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link', method: :get %></td>
      <td><%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></td>
          <% if current_user.has_role? :faculty %>
      <td><%= button_to 'add a class' , new_standard_path , method: :get %>
          <% end %></td>
    </tr>
  </table>

  <%= render "standards" %>

<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
