<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Student added to <%= @student.standards.map(&:class_name) %>!</p>
    <p>
    Student details<br>
    --------------------------
    </p>
    <% if @student.first_name.present? || @student.last_name.present? %>
    <p>Name: <%= @student.first_name + @student.last_name %></p>
    <% end %>
    <p>Email: <%= @student.email %></p>
    <p>Enrollment number: <%= @student.enrollment_number %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p>Student added to <%= @student.standards.map(&:class_name) %></p>
  </body>
</html>