<h4>Available students</h4>
	<table class = 'table' >
		<tr>
			<th>Enrollment number</th>
			<th>Name</th>
			<th>Email</th>
			<th>User name</th>
		</tr>
		<% User.all.each do |student| %>
		<tr>
			<% if student.role? == 'Student' %>
				<% if student.user_standards.present?.eql?(false) %>
					<td><%= student.enrollment_number %></td>
					<td><%= student.first_name + " " + student.last_name %></td>
					<td><%= student.email %></td>	
					<td><%= student.user_name %></td>
					<td><%= button_to "Add student" , user_standards_path(standard_id: @standard.id , user_id: student.id) , method: :post %></td>
				<% end %>
			<% end %>	
		</tr>
		<% end %>
	</table>