<h2>Class : <%= @standard.class_name %></h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand">Students list</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link "><%= button_to "Home" , root_path, method: :get , :class => "btn btn-outline-secondary" %></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"><%= link_to 'Download PDF', download_pdf_standards_path(standard_id: @standard.id) , :class => "btn btn-outline-secondary" %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= button_to 'Download CSV', standard_path(@standard, format: "csv") ,method: :get, :class => "btn btn-outline-secondary" %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">______________________________________________</a>
      </li>
    </ul>
   	<%= render 'form' %>
  </div>
</nav>


	

	<% if @students.present? %>
	<div id = "students">
	<table class="table table-striped">
		<tr>
			<th>Enrollment number</th>
			<th>Name</th>			
			<th><%= Date.today.strftime("%d/%m/%Y") %></th>
			<th>Total Attendence</th>
		</tr>
		<% @students.each do |student| %>
		<tr>			
			<td><%= student.enrollment_number %></td>
			<% if student.first_name.present? || student.last_name.present? %>
			<td><%= student.first_name + " " + student.last_name %></td>
			<% else %>
			<td></td>
			<% end %>
			<% if current_user.has_role? :Faculty %>
			<td><%= render "attendence" , student: student %></td>			
			<% else %>	
			<td></td>
			<% end %>		
			<td><%= student.attendences.count %></td>
			<% if current_user.has_role? :Faculty %>
			<td><%= button_to "remove student", user_standard_path(student, standard_id: @standard.id), method: :delete , remote: true  %></td>	
			<% end %>	
		</tr>
		<% end %>
	</table>		
	</div>
	<% else %>
		<h3 style="color: grey;">NOT FOUND</h3>
	<% end %>

<% if current_user.has_role?(:Faculty) %>
	<%= render "studentlist" %>	
<% elsif current_user.has_role?(:Student) %>
	<% if current_user.user_standards.present?.eql?(false) %>
		<h3>Your details</h3>
	  <table class="table table-striped">
			<tr>
				<th>Enrollment number</th>
				<th>Name</th>
				<th>Email</th>
				<th>User name</th>
			</tr>
			<tr>
				<td><%= current_user.enrollment_number %></td>
				<td><%= current_user.first_name + " " + current_user.last_name %></td>
				<td><%= current_user.email %></td>	
				<td><%= current_user.user_name %></td>
				<td><%= button_to "Enroll to this class" , user_standards_path(standard_id: @standard.id , user_id: current_user.id) , method: :post %></td>
			</tr>
		</table>
	<% end %>
<% end %><br>

